<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Welcome To patient Path</h1>
                    <h5>Admin Login</h5>
                </div>
                <form   [formGroup]="adminForm"   (ngSubmit)="logIn()" >
                    <div class="mb-3">
                      <label class="form-label">Email address</label>
                      <input  formControlName="email"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      
                    </div>
                    <div class="mb-3">
                      <label  class="form-label">Password</label>
                      <input   formControlName="password"  type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form>
                  <a routerLink="/login"   style="margin-top: 10px;"   >Go to User Login!</a>

                  

            </div>
        </div>
    </div>
</div>

