.filter {
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
}

.button {
  margin-left: 10px;
}

.test-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px; /* Set a fixed width for cards */
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}


.delete-button {
  background-color: #ff4d4d;
  color: white;
}

.delete-icon {
  margin-right: 5px;
}


.option, .option1, .option2 {
  margin-left: 10px;
  margin-top: 10px;
}

.option1 {
  background-color: #4caf50; /* Green for available */
  color: white;
}

.option2 {
  background-color: #f44336; /* Red for unavailable */
  color: white;
}
