<section class="book" id="book">

    <div class="row">
        <form [formGroup]="bookAppointmentForm" (ngSubmit)="onBookSubmit()">
            <h3>Book your appointment</h3>

            <label for="name">Your Name</label>
            <input formControlName="name" type="text" id="name" placeholder="your name" class="box" required
                name="name">

            <label for="number">Your Number</label>
            <input formControlName="number" type="number" id="number" placeholder="your number" class="box" required
                name="number">

            <label for="email">Your Email</label>
            <input formControlName="email" type="email" id="email" placeholder="your email" class="box" required
                name="email">

            <label for="hospital">Select a Hospital</label>
            <!-- <select formControlName="hospital" class="box" required name="hospital">
                <option value="" disabled selected>Select a hospital</option>

                 <option value="hospital1">Hospital 1</option>
                <option value="hospital2">Hospital 2</option>
                <option value="hospital3">Hospital 3</option> 
            </select> -->
            <select formControlName="hospitalName" class="box" required name="hospitalName" >
                <option value="" disabled selected>Select a hospital</option>




                <option *ngFor="let hospital of uniqueHospitals" [value]="hospital">{{ hospital }}</option>
              </select>
              
            

            <label for="doctors">Select Type of Doctor</label>
            <select formControlName="doctorName" class="box" required name="doctorName">
                <option value="" disabled selected>Select a Doctor</option>
                <option *ngFor="let doctor of uniqueDoctors" [value]="doctor">{{ doctor }}</option>
              </select>


            <label for="specialist">Select a Specialist</label>
            <select formControlName="specialist" class="box" required name="specialist">
                <option value="" disabled selected>Select a Specialist</option>
                <option *ngFor="let sp of uniqueSpecialists" [value]="sp">{{ sp }}</option>
            </select>

            <label for="doctors">Select Type of Doctor</label>
            <select formControlName="doctors" class="box" required name="doctors">
                <option value="" disabled selected>Select a Doctor</option>
                <option *ngFor="let doctor of hospitals" [value]="doctor.doctorName">
                  
                    {{ doctor.doctorName }}</option>
            </select>

            <label for="date">Select Date</label>
            <input formControlName="date" type="date" id="date" class="box" required name="date">

            <label for="time">Select Time</label>
            <input formControlName="time" type="time" id="time" class="box" required name="time">

            <input type="submit" value="book now" class="btn" [disabled]="!bookAppointmentForm.valid">
        </form>
    </div>
</section>