<div class="container">
  <h2>Your Appointments</h2>

  <table class="appointment-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Hospital</th>
        <th>Doctor</th>
        <th>Specialist</th>
        <th>Date</th>
        <th>Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{appointment.id}}</td>
        <td>{{appointment.name}}</td>
        <td>{{appointment.email}}</td>
        <td>{{appointment.number}}</td>
        <td>{{appointment.hospitalName}}</td>
        <td>{{appointment.doctorName}}</td>
        <td>{{appointment.specialist}}</td>
        <td>{{appointment.date}}</td>
        <td>{{appointment.time}}</td>

        <td>
          <button (click)="deleteAppointment(appointment.id)" style="margin-bottom: 5px;">Delete</button>

          <!-- <div *ngIf="isEditing && selectedAppointment.id === appointment.id">
            <button (click)="updateAppointment()">Save</button>
          </div> -->
        </td>
      </tr>
      <tr *ngIf="appointments.length === 0">
        <td colspan="10">No appointments found.</td>
      </tr>
    </tbody>
  </table>
</div>