<div class="container">
  <h2>Your Appointments</h2>

  <table class="appointment-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Hospital</th>
        <th>Doctor</th>
        <th>Specialist</th>
        <th>Date</th>
        <th>Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let ap of appointments">


      <tr *ngIf="email ==ap.email ">

        <!-- {{appointments}} -->
        <td>{{ap.id}}</td>
        <td>{{ap.name}}</td>
        <td>{{ap.email}}</td>
        <td>{{ap.number}}</td>
        <td>{{ap.hospitalName}}</td>
        <td>{{ap.doctorName}}</td>
        <td>{{ap.specialist}}</td>
        <td>{{ap.date}}</td>
        <td>{{ap.time}}</td>

        <td>
          <button (click)="deleteAppointment(ap.id)" style="margin-bottom: 5px;">Delete</button>

          <!-- <div *ngIf="isEditing && selectedAppointment.id === appointment.id">
            <button (click)="updateAppointment()">Save</button>
          </div> -->
        </td>

      </tr>
      <tr  *ngElse>
        <td colspan="10">No appointments found.</td>
      </tr>
      <tr *ngIf="appointments.length === 0">
        <td colspan="10">No appointments found.</td>
      </tr>
    </tbody>
  </table>
</div>