
<!-- heder -->
<div mat-dialog-title>
    <p>Doctor Details</p>
</div>
<form  [formGroup]="newData" (ngSubmit)="onSave()">

    <!-- content  -->
<div mat-dialog-content>
    <!-- dummy to avoid the overlpa with headin -->
    <p></p>
     

     <p>
        <mat-form-field appearance="outline">
            <mat-label>Doctor Name</mat-label>
            <input matInput placeholder="Enter the DoctorName" formControlName="doctorName">
            <mat-hint>Add Doctor Name</mat-hint>
          </mat-form-field>
     </p>

     <p>
        <mat-form-field appearance="outline">
            <mat-label>Hospital Name</mat-label>
            <input matInput placeholder="Enter the steps" formControlName="hospitalName">
            
            <mat-hint>Add your Hospital Name?</mat-hint>
          </mat-form-field>
     </p>

    

     <p>
        <mat-form-field appearance="outline">
            <mat-label>speciality</mat-label>
            <input matInput placeholder="Enter the specialty" formControlName="doctorSpilist">
            
            <mat-hint>Add your speciality?</mat-hint>
          </mat-form-field>
     </p>
     <p>
        <mat-form-field appearance="outline">
            <mat-label>Experience</mat-label>
            <input matInput placeholder="Enter the Experience" formControlName="exprence">
            
            <mat-hint>Add your Experience?</mat-hint>
          </mat-form-field>
     </p>
     <p>
        <mat-form-field appearance="outline">
            <mat-label>Education</mat-label>
            <input matInput placeholder="Enter the Education" formControlName="education">
            
            <mat-hint>Add your Education?</mat-hint>
          </mat-form-field>
     </p>
     <p>
        <mat-form-field appearance="outline">
            <mat-label>available</mat-label>
            <input matInput placeholder="Enter the doctor_avilable" formControlName="doctor_avilable">
            
            <mat-hint>available?(true or false)</mat-hint>
          </mat-form-field>
     </p>

     

</div>

<!-- acton button  -->
<div mat-dialog-actions>
    <button mat-raised-button (click)="close()">
        cancel
    </button>

    <button mat-raised-button color="primary">
        save
    </button>


</div>

</form>