 

.doctor-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
  }
  
  .doctor-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px; 
    transition: transform 0.2s;
    background-color: #fff; 
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .doctor-card:hover {
    transform: scale(1.02); 
  }
  
  .container{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: aquamarine; */
  }