<div class="container">
<div class="doctor-list">
    <div class="doctor-card" *ngFor="let doctor of doctors">

      <h3><strong>Name:</strong>{{ doctor.doctorName }}</h3>
      <p><strong>Specialist:</strong> {{ doctor.doctorSpilist }}</p>
      <p><strong>Hospital:</strong> {{ doctor.hospitalName }}</p>
      <p><strong>Experience</strong>{{doctor.exprence}}</p>
      <p><strong>Education</strong>{{doctor.education}}</p>
      <p><strong>Availablity:</strong> {{ doctor.doctor_avilable }} years</p>

      <table>
        <td><p>Name :</p></td><td><p>{{doctor.doctorName}}</p></td>
        <tr></tr>
        <td><p>Doctor spilist :</p></td><td><p>{{doctor.doctorSpilist}}</p></td>
        <tr></tr>
        <td><p>Hospital Name</p></td><td><p>{{doctor.hospitalName}}</p></td>
        <tr></tr>
        <td><p>Education </p></td><td><p>{{doctor.education}}</p></td>
        <tr></tr>
        <td><p>Exprence</p></td><td><p>{{doctor.exprence}}</p></td>
        <tr></tr>
        <td><p>Avilible</p></td><td>{{doctor.doctor_avilable}}</td>
        <tr></tr>
      </table>
   
      

    </div>
  </div>
</div>
  


 