
<div class="doctor-list">
    <div class="doctor-card" *ngFor="let doctor of doctors">
      <h3><strong>Name:</strong>{{ doctor.doctorName }}</h3>
      <p><strong>Specialist:</strong> {{ doctor.doctorSpilist }}</p>
      <p><strong>Hospital:</strong> {{ doctor.hospitalName }}</p>
      <p><strong>Experience</strong>{{doctor.exprence}}</p>
      <p><strong>Education</strong>{{doctor.education}}</p>
      <p><strong>Availablity:</strong> {{ doctor.doctor_avilable }} years</p>
    </div>
  </div>
  


 